<h1>Make your form here</h1>

<form action='/pirates' method="POST">
  <h2>PIRATE</h2>
  <label for="pirate_name">Pirate Name</label>
  <input id="pirate_name" type="text" name="pirate[name]" >
  <label for="pirate_height">Pirate Height</label>
  <input id="pirate_height" type="text" name="pirate[height]" >
  <label for="pirate_weight">Pirate Weight</label>
  <input id="pirate_weight" type="text" name="pirate[weight]" >

  <h2>SHIP 1</h2>

  <label for="ship_name_1">Ship 1 Name</label>
  <input id="ship_name_1" type="text" name="pirate[ships][][name]" >
  <label for="ship_type_1">Ship 1 Type</label>
  <input id="ship_type_1" type="text" name="pirate[ships][][type]" >
  <label for="ship_booty_1">Ship 1 Booty</label>
  <input id="ship_booty_1" type="text" name="pirate[ships][][booty]" >

  <h2>SHIP 2</h2>

  <label for="ship_name_2">Ship 2 Name</label>
  <input id="ship_name_2" type="text" name="pirate[ships][][name]" >
  <label for="ship_type_2">Ship 2 Type</label>
  <input id="ship_type_2" type="text" name="pirate[ships][][type]" >
  <label for="ship_booty_2">Ship 2 Booty</label>
  <input id="ship_booty_2" type="text" name="pirate[ships][][booty]" >

  <input type="submit" value="Submit">

</form>
